<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 根节点 -->
<configuration>
	<!-- 1.引入同级目录下的数据库配置文件 database.properties * -->
	<properties resource="database.properties" />
	<!-- 2.配置log4J日志 -->
	<settings>
		<setting name="logImpl" value="LOG4J" />
		
	</settings>
	<!-- resultType  别名 -->
	<typeAliases>
		<package name="cn.smbms.pojo"/>
	</typeAliases>
	<!-- 3.配置mybatis的事物处理 指定MYbatis使用链接数据库的模式 -->
	<environments default="development_mysql">
		<environment id="development_mysql">
			<!-- 配置事务管理采用的方式 -->
			<transactionManager type="JDBC"></transactionManager>
			<!-- 配置数据源 name里的东西不能变。就这么写，，value里的内容对应database.properties中的KEY -->
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${user}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<!-- 4.配置相应的mapper -->
	<mappers>
		<mapper resource="cn/smbms/dao/user/StudentMapper.xml" />
	</mappers>
</configuration>